* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 0 20px;
    .header_container {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto 40px;
        display: flex;
        justify-content: space-between;

        .logo_block {
            width: 10%;
            background-color: dimgray;
            box-sizing: border-box;
        }

        .search_block {
            width: 30%;
            background-color: dimgray;
            box-sizing: border-box;
        }

        .contacts_block {
            width: 55%;
            background-color: dimgray;
            box-sizing: border-box;
            text-align: right;
            padding: 20px;
            display: flex;
            flex-direction: row-reverse;

            .contact_wrap {
                p {
                    padding: 5px;
                    width: 200px;
    
                    a {
                        color: white;
                        padding: 5px 0;
                    }
                }
            }
        }

        @media (max-width: 769px) {
            .logo_block {
                width: 15%;
            }

            .search_block {
                display: none;
            }

            .contacts_block {
                width: 80%;
            }
        }
    }

    hr {
        max-width: 1920px;
        margin: 0 auto;
    }
}